<%- include('../partials/header') %>
<h3>Edit Cohort</h3>
<div class="form-spacing">
  <form action="/cohorts/<%= cohort.id %>" method="POST">
    <input type="hidden" name="_method" value="PATCH">    
    <h4>Logo Url</h4>
      <input type="text" name="imageURL" class="form-control" value="<%= cohort.imageURL %>" >
    <h4>Name</h4>
      <input type="text" name="name" class="form-control" value="<%= cohort.name %>" >
    <h4>Members</h4>
      <textarea class="form-control" name="members"><%= cohort.members %></textarea>
      <div class="button-container">
        <input type="submit" class="btn btn-outline-primary" value="Update Cohort">
      </div>
  </div>
    
</form>
<%- include('../partials/footer') %>