<!DOCTYPE html>
<html>
  <head>
    <title>BlogOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  
  <body>
    <header>
      <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <%= link_to "Blog On Rails", root_path, class: "navbar-brand text-primary" %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="nav-container">
              <%= link_to "Home", root_path, class: "nav-item nav-link form-inline" %>
              <%= link_to "New Post", new_post_path, class: "nav-item nav-link form-inline" %>
              <% if user_signed_in? %>
                <span class="form-inline">Hello, <%= current_user.name %></span>
                <%= link_to "Sign Out", session_path, method: :delete, data: { confirm: "Are You Sure You Want to Sign Out?" }, class: "nav-item nav-link form-inline" %>
              <% else %>
                <%= link_to "Sign In", new_session_path, class: "nav-item nav-link form-inline" %> 
                <%= link_to "Sign Up", new_user_path, class: "nav-item nav-link form-inline" %>
              <% end %>
          </div>
        </div>
      </nav>
      <% flash.each do |type, message| %>
        <div class="flash flash-<%= type %>">
          <%= message %>
        </div>
      <% end %>
    </header>

    <main>
      <%= yield %>
    </main> 
  </body>
</html>
